<div class="card-body">
  <%= form_with model: signature do |form| %>
  <% if signature.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(signature.errors.count, "error") %>
      prohibited this user from being saved:</h2>

      <ul>
        <% signature.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


    <div class="row g-3">
      <div class="col-12">
        <%= form.text_field :fullname, placeholder: "Enter your full name", class: "form-control" %>
      </div>
      <div class="col-6">
        <%= form.text_field :email, placeholder: "Enter your email", class: "form-control" %>
      </div>
      <div class="col-6">
        <%= form.text_field :job_title, placeholder: "Enter your job title", class: "form-control" %>
      </div>
      <div class="col-12">
        <%= form.submit class: "btn btn-warning" %>
      </div>
    </div>
    <% end %>
  </div>
